version: '3.8' 

services: 
  
  postgres-db: 
    image: postgres:15 
    container_name: postgres-db-supermercado 
    environment: 
      - POSTGRES_DB=supermercado_db 
      - POSTGRES_USER=admin 
      - POSTGRES_PASSWORD=admin 
    ports: 
      - "5433:5432" 
    volumes: 
      - postgres_data:/var/lib/postgresql/data

volumes: 
  postgres_data: